/* Мобільна версія (базова, від 320px) */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-member {
  background-color: #ffffff;
  width: 264px; /* Суворо фіксована ширина за вимогами 6 ДЗ */
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 16px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

/* ПЛАНШЕТ (від 768px) */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

/* ДЕСКТОП (від 1158px) */
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
  }
}
